body {
  font-family: sans-serif;
  text-align: center;
  background-color:  font-family: sans-serif;
  text-align: center;
  background-color: #1C2022;
  color: #95D2F3; 
}

.App {

  font-family: sans-serif;
  text-align: center;
  background-color: #1C2022;
}
